<div class="container">
    <input type="button" id="AddBtn" class="btn btn-primary" value="Add New" (click)="ShowForm();">
    <input type="button" id="HideBtn" class="btn btn-warning HideMe" value="Hide Form" (click)="HideForm();">

  <div style="margin:4px;"></div>
  
    <table class="table table-hover table-bordered">
        <thead class="thead-dark">
      <tr>
         
            <th>Monthly Price</th>
            <th>Number of Users</th>
            <th>Data Package</th>
            <th>Package Type</th>
            <th>Action</th>
       
      </tr>
    </thead>
      <tr *ngFor="let item of service.list">
        <td (click)="FillForm(item)">
          $ {{item.MonthlyPrice}} 
        </td>
        <td (click)="FillForm(item)">
            {{item.NumberOfUsers}}
        </td>
        <td (click)="FillForm(item)">
            {{item.Data}} GB
        <td (click)="FillForm(item)">
            {{item.AdditionalSupport}}
        </td>
        <td>
          <i class="far fa-trash-alt fa-lg text-danger ChangeHover" (click)="DeleteRecord(item.PId)"></i>
        </td>
      </tr>
    </table>
</div>

